name: r01

on:
  push:
    paths:
      - '.github/workflows/r01.yml'
      - 'r01/**/*'

permissions:
  contents: read
  packages: write

defaults:
  run:
    working-directory: r01

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./r01
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/gaco3-r01:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  rspec:
    runs-on: ubuntu-latest
    needs:
      - build
    container:
      image: ghcr.io/${{ github.repository_owner }}/gaco3-r01:${{ github.sha }}
      env:
        MYSQL_USER: rails_app_user
        RAILS_ENV: test
        AWS_ACCESS_KEY_ID: dummy
        AWS_SECRET_ACCESS_KEY: dummy
    services:
      mysql_test:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_USER: rails_app_user
          MYSQL_PASSWORD: password
          MYSQL_DATABASE: r01
        ports:
          - '3306:3306'
        options: --health-cmd="mysqladmin ping -h localhost --silent" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v4
      - name: Migrate DB
        run: bundle exec rake db:migrate
      - name: Run RSpec
        run: bundle exec rspec
